  .sidebar-element {
    display: flex;
    max-width: 240px;
    padding: 8px;
    align-items: center;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
      background-color:  rgba(59, 73, 223, 0.1);
      border-radius: 6px;

      p {
        color: #323ebe;
      }
    }

    p {
      font-size: 16px;
      margin: 0;
      margin-left: 6px;
      color: #3d3d3d;
    }
  }